body {
    margin: 0;
    color: #00231c;
}

#hamburger {
    display: none;
}
#hamburger > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4PX;
}


#hamburgerdropdown {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #20458E;
    border-bottom: 2px solid #00231c;

}

#hamburgerdropdown > li {

    border-top: 2px solid #00231c;
    transition: all .2s ease-in-out;
    width: 100%;
    text-align: center;
    margin: 0;
}


#hamburgerdropdown > li:hover {
    background-color: #d3d3d3;
   scale: 1.2;
   cursor: pointer;
}


#hamburgerdropdown.invisible {
    display: none;
}
#logobar {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;


}
#logoandname {
    display: flex;
    justify-content: space-around;
}

#logoandname > h1 {
    font-size: 2.5rem;
    margin: 1rem;
}
#desktoplinks {
    display: flex;
    justify-content: center;
}
#desktoplinks > button {
    margin: 1rem;
    font-size: xx-large;
    border: 0px;
    background-color: #d3d3d3;
    color: #00231c
}
#desktoplinks > button:hover {
    cursor: pointer;
    text-decoration: underline;
}
#slogan {
    margin-top: 4rem;
    margin-left: 8rem;
}

footer {
    position: absolute;
    background-color: #1ffebc;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
}
#homepageimagecontainer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
   #desktoplinks {
    display: none;
   }
   #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #20458E;
   }
   #hamburger:hover {
    cursor: pointer;
   }
   #hamburger.invisible {
    display: none;
   }
  }
@media screen and (min-width: 600px) {
 #hamburger{
    display: none;
 }
 #desktoplinks {
    display: flex;
 }
}
  
